<%- include ('../partials/admin-header') %>


   <!-- Dashboard -->
  

<!-- / Navbar -->

<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <form action=""></form>
    <a class="btn btn-primary" href="/admin/addProduct">Add Product</a>

    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span> </h4>


<div class="card">
<h5 class="card-header">Product list</h5>
<div class="table-responsive text-nowrap">
<table class="table">
<thead>

</thead>
<thead>
  <th>SI NO</th>
<th>Name</th>
<th>Description</th>
<th>Quantity</th>
<th>Price</th>
<th>Rating</th>
  <th>category</th>
  <th>Image</th>
  <th>Action</th>
</thead>
<!-- table body paste here from product-sample.ejs file....... -->



<tbody>
  <% if(product.length> 0){ %>
    <% for(let i=1;i <=product.length; i++){ %>  
      <% if(product[i-1].isAvailable===true){ %>
        
        <tr>
          <td><%= i %> </td>
          <td>
        
          <%= product[i-1].name  %> 
      </td>
      <td>
        <%= product[i-1].description %>
      </td>
      <td>
        <%= product[i-1].quantity  %> 
    </td>
      <td>
          <%= product[i-1].price  %> 
      </td>
      <td>
          <%= product[i-1].rating  %> 
      </td>
      <td>
          <%= product[i-1].category%> 
      </td>
    <td>
          <% if(product[i-1].image) { %>
              <img src="/admin/assets/uploads/<%= product[i-1].image[0] %>"
                  width="100vw" height="100vh">
              <% }else{ %>
                  Image Not Found
                  <% } %>
      </td>
      <td>
                      <a class="text-success" href="/admin/editProduct?id=<%= product[i-1]._id %>"><i
                              style="color: green;"
                              class="m-r-5 mdi mdi-border-color"></i>Edit</a><br>
                     
                      <a class="text-danger" href="/admin/dltProduct?id=<%= product[i-1]._id %>"><i
                              style="color: #ff0000;"
                              class="m-r-5 mdi mdi-border-color"></i>Delete</a><br>
        </td>
        
  </tr>
  <% } %> 
  <% } } else{ %>
      <tr>
          <td colspan="5">Products Not Found</td>
      </tr>
      <% } %>
  
</tbody>




</table>
</div>
</div>



  <!-- Footer -->
  <footer class="content-footer footer bg-footer-theme">
      <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
         
      

        </div>
        <div>
          
    </footer>
    <!-- / Footer -->

    <div class="content-backdrop fade"></div>
  </div>
  <!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->


<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->










<%- include ('../partials/admin-footer') %>