<%- include ('../partials/admin-header') %>
<div class="content-wrapper" style="overflow-x: scroll;">
    <!-- Content -->
  
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span> </h4>
  
      <div class="d-flex; ">
                              
        <a style="font-weight: bold; border-radius: 20px;" href="/admin/loadOrder?id=ALL"
            class=" btn btn-primary ">
            <span>All Orders</span>
        </a>
    
    
        <a style="font-weight: bold; border-radius: 20px" href="/admin/loadOrder?id=CONFIRMED"
            class=" btn btn-primary">
            <span>Confirmed Orders</span>
        </a>
    
    
        <a style="font-weight: bold; border-radius: 20px" href="/admin/loadOrder?id=DELIVERED"
            class="btn btn-primary">
            Delivered Orders
        </a>
        <a style="font-weight: bold; border-radius: 20px" href="/admin/loadOrder?id=RQSTD"
        class="btn btn-primary">
        Return Requests
    </a>
  
        <a style="font-weight: bold; border-radius: 20px" href="/admin/loadOrder?id=RETURNED"
            class="btn btn-primary">
            Returned Orders
        </a>
  
       
        <a style="font-weight: bold; border-radius: 20px" href="/admin/loadOrder?id=CANCELED"
        class="btn btn-primary">
        Canceled Orders
    </a>
     <!-- <a style="font-weight: bold; border-radius: 20px" href="/admin/loadOrder?id=DETAILS"
            class="btn btn-primary">
            Sales Report
        </a> -->
    
  </div>

<br><br>



<div class="card">
    <h5 class="card-header">Order Management</h5>
    <% if(id=='CONFIRMED' ){ %>
    <table class="table" style="max-width: 100%;
    overflow-x: hidden;table-layout: fixed;
        word-wrap: break-word;">
    <div class="table-responsive text-nowrap">
    <thead>
    <tr>
      <th>Order No</th>
      <th>OrderId</th>
      <th>User</th>
      <th>Date</th>
      <th>Payment</th>
      <th>Total Price</th>
      <th>Status</th>
      <th>Actions</th>
    
    </tr>
    </thead>
    <tbody>
      <% if( order.length> 0){ %>
        <% for(let i=1;i <=order.length; i++){ %>
          <% if(order[i-1].status=="Confirmed" ){ %>
    
    <tr>
      <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong> <%= i %></strong></td>
      <td>
        <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center"></ul>
          <%= order[i-1]._id %></td>
      </ul>
      <td>
        <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
          <%= order[i-1].userId.name %>
           
        </ul>
      </td>
      <td>
    
        <%= order[i-1].createdAt.toDateString()%>
    
      </td>
      <td>
        <%= order[i-1].payment %>
      </td>
      <td>
        <%= order[i-1].products.totalPrice %>
      </td>
    
      <td class="text-success"><%= order[i-1].status %></td>
    
      <td>
    
        <a href="/admin/cancelOrder?id=<%= order[i-1]._id %>"
          class="btn btn-outline-primary ">Cancel</a>
      <a href="/admin/deliveredOrder?id=<%= order[i-1]._id %>"
          class="btn btn-outline-primary ">Deliver</a>
    
      </td>
      
    
    
    </tr>
    <% }}}else{ %>
    
      <tr>
        <td colspan="5">Orders Not Found</td>
    </tr>
    <% } %>
    
    
    
    </tbody>
    
    </table>
    
    <% }else if(id=='DELIVERED' ){ %>
    
    
      <table class="table" style="max-width: 100%;
    overflow-x: hidden;table-layout: fixed;
        word-wrap: break-word;">
    <div class="table-responsive text-nowrap">
    <thead>
    <tr>
      <th>Order No</th>
      <th>OrderId</th>
      <th>User</th>
      <th>Date</th>
      <th>Payment</th>
      <th>Total Price</th>
      <th>Status</th>
      <th></th>
      
    </tr>
    </thead>
    <tbody>
      <% if( order.length> 0){ %>
        <% for(let i=1;i <=order.length; i++){ %>
            <% if(order[i-1].status=="Delivered" ){ %>
    
    <tr>
      <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong> <%= i %></strong></td>
      <td>
        <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center"></ul>
          <%= order[i-1]._id %></td>
      </ul>
      <td>
        <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
          <%= order[i-1].userId.name %>
           
        </ul>
      </td>
      <td>
    
        <%= order[i-1].createdAt.toDateString()%>
    
      </td>
      <td >
       <span style="white-space:nowrap"> <%= order[i-1].payment %></span>
      </td>
      <td>
        <%= order[i-1].products.totalPrice %>
      </td>
    
      <td class="text-success" >   <span style="white-space:nowrap">   <%= order[i-1].status %></span></td>
    
      
      <td>
        <a href="/admin/orderDetail?id=<%= order[i-1]._id %>"
            class="btn btn-primary">View</a>
    </td>
    
    
    
    
    </tr>
    <% }}}else{ %>
    
      <tr>
        <td colspan="5">Orders Not Found</td>
    </tr>
    <% } %>
    
    
    
    </tbody>
    
    </table>
    
    <% }else if(id=='RETURNED' ){ %>
    
    
      <table class="table" style="max-width: 100%;
    overflow-x: hidden;table-layout: fixed;
        word-wrap: break-word;">
    <div class="table-responsive text-nowrap">
    <thead>
    <tr>
      <th>Order No</th>
      <th>OrderId</th>
      <th>User</th>
      <th>Date</th>
      <th>Payment</th>
      <th>Total Price</th>
      <th>Status</th>
      
      
    </tr>
    </thead>
    <tbody>
      <% if( order.length> 0){ %>
        <% for(let i=1;i <=order.length; i++){ %>
            <% if(order[i-1].status=="Returned" ){ %>
    
    <tr>
      <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong> <%= i %></strong></td>
      <td>
        <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center"></ul>
          <%= order[i-1]._id %></td>
      </ul>
      <td>
        <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
          <%= order[i-1].userId.name %>
           
        </ul>
      </td>
      <td>
    
        <%= order[i-1].createdAt.toDateString()%>
    
      </td>
      <td >
       <span style="white-space:nowrap"> <%= order[i-1].payment %></span>
      </td>
      <td>
        <%= order[i-1].products.totalPrice %>
      </td>
    
      <td class="text-success" >   <span style="white-space:nowrap">   <%= order[i-1].status %></span></td>
    
     
    
    
    
    </tr>
    <% }}}else{ %>
    
      <tr>
        <td colspan="5">Orders Not Found</td>
    </tr>
    <% } %>
    
    
    
    </tbody>
    
    </table>
    <% }else if(id=='CANCELED' ){ %>
    
    
      <table class="table" style="max-width: 100%;
    overflow-x: hidden;table-layout: fixed;
        word-wrap: break-word;">
    <div class="table-responsive text-nowrap">
    <thead>
    <tr>
      <th>Order No</th>
      <th>OrderId</th>
      <th>User</th>
      <th>Date</th>
      <th>Payment</th>
      <th>Total Price</th>
      <th>Status</th>
      
      
    </tr>
    </thead>
    <tbody>
      <% if( order.length> 0){ %>
        <% for(let i=1;i <=order.length; i++){ %>
            <% if(order[i-1].status=="Canceled" ){ %>
    
    <tr>
      <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong> <%= i %></strong></td>
      <td>
        <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center"></ul>
          <%= order[i-1]._id %></td>
      </ul>
      <td>
        <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
          <%= order[i-1].userId.name %>
           
        </ul>
      </td>
      <td>
    
        <%= order[i-1].createdAt.toDateString()%>
    
      </td>
      <td >
       <span style="white-space:nowrap"> <%= order[i-1].payment %></span>
      </td>
      <td>
        <%= order[i-1].products.totalPrice %>
      </td>
    
      <td class="text-success" >   <span style="white-space:nowrap"><i class="m-r-10 mdi mdi-account-off text-danger" style="width: 100px;">  <%= order[i-1].status %></i> </span></td>
    
     
    
    
    
    </tr>
    <% }}}else{ %>
    
      <tr>
        <td colspan="5">Orders Not Found</td>
    </tr>
    <% } %>
    
    
    
    </tbody>
    
    </table>
    
    <% }else if(id=='DETAILS' ){ %>
    
    
      <table class="table" style="max-width: 100%;
    overflow-x: hidden;table-layout: fixed;
        word-wrap: break-word;">
    <div class="table-responsive text-nowrap">
    <thead>
    <tr>
      <th>Order No</th>
      <th>OrderId</th>
      <th>User</th>
      <th>Date</th>
      <th>Payment</th>
      <th>Total Price</th>
      <th>Status</th>
      
      
    </tr>
    </thead>
    <tbody>
      <% if( order.length> 0){ %>
        <% for(let i=1;i <=order.length; i++){ %>
            <% if(order[i-1].status=="Delivered" ){ %>
    
    <tr>
      <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong> <%= i %></strong></td>
     
      <td>
        <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center"></ul>
          <%= order[i-1]._id %></td>
      </ul>
      <td>
        <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
          <%= order[i-1].userId.name %>
           
        </ul>
      </td>
      <td>
    
        <%= order[i-1].createdAt.toDateString()%>
    
      </td>
      <td >
       <span style="white-space:nowrap"> <%= order[i-1].payment %></span>
      </td>
      <td>
        <%= order[i-1].products.totalPrice %>
      </td>
    
      <td class="text-success" >   <span style="white-space:nowrap"><i class="m-r-10 mdi mdi-account-off text-danger" style="width: 100px;">  <%= order[i-1].status %></i> </span></td>
    
     
    
    
    
    </tr>
    <% }}}else{ %>
    
      <tr>
        <td colspan="5">Orders Not Found</td>
    </tr>
    <% } %>
    
    
    
    </tbody>
    
    </table>
    <% }else if(id=='RQSTD' ){ %>
    
    
      <table class="table" style="max-width: 100%;
    overflow-x: hidden;table-layout: fixed;
        word-wrap: break-word;">
    <div class="table-responsive text-nowrap">
    <thead>
    <tr>
      <th>Order No</th>
      <th>OrderId</th>
      <th>User</th>
      <th>Date</th>
      <th>Payment</th>
      <th>Total Price</th>
      <th>Status</th>
      <th>Action</th>
      <th></th>
      
      
    </tr>
    </thead>
    <tbody>
      <% if( order.length> 0){ %>
        <% for(let i=1;i <=order.length; i++){ %>
            <% if(order[i-1].status=="Rqstd" ){ %>
    
    <tr>
      <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong> <%= i %></strong></td>
      <td>
        <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center"></ul>
          <%= order[i-1]._id %></td>
      </ul>
      <td>
        <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
          <%= order[i-1].userId.name %>
           
        </ul>
      </td>
      <td>
    
        <%= order[i-1].createdAt.toDateString()%>
    
      </td>
      <td >
       <span style="white-space:nowrap"> <%= order[i-1].payment %></span>
      </td>
      <td>
        <%= order[i-1].products.totalPrice %>
      </td>
    
      <td class="text-success" >   <span style="white-space:nowrap">   <%= order[i-1].status %></span></td>
      <td>
        <a href="/admin/returnOrder?id=<%= order[i-1]._id %>"
            class="btn btn-outline-danger mb-1">Accept</a>
    </td>
      <td>
        <a href="/admin/CancelReqst?id=<%= order[i-1]._id %>"
            class="btn btn-primary">Cancel Request</a>
    </td>
     
    
    
    
    </tr>
    <% }}}else{ %>
    
      <tr>
        <td colspan="5">Orders Not Found</td>
    </tr>
    <% } %>
    
    
    
    </tbody>
    
    </table>
    
    
    <% }else{ %>
    
      <table class="table" style="max-width: 100%;
      overflow-x: hidden;table-layout: fixed;
          word-wrap: break-word;"  id="pdfTable" >
      <div class="table-responsive text-nowrap">
      <thead>
      <tr>
        <th>Sl No</th>
        <th>OrderId</th>
        <th>User</th>
        <th>Date</th>
        <th>Payment</th>
        <th>Total Price</th>
        <th>Status</th>
        <th>Actions</th>
        <th>Details</th>
      
      </tr>
      </thead>
      <tbody>
        <% if( order.length> 0){ %>
          <% for(let i=1;i <=order.length; i++){ %>
            
      
      <tr>
        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong> <%= i %></strong></td>
        <td>
          <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center"></ul>
            <%= order[i-1]._id %></td>
        </ul>
        <td>
          <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
            <%= order[i-1].userId.name %>
             
          </ul>
        </td>
        <td>
      
          <%= order[i-1].createdAt.toDateString()%>
      
        </td>
        <td>
          <%= order[i-1].payment %>
        </td>
        <td>
          <%= order[i-1].products.totalPrice %>
        </td>
      
        <td class="text-success"><%= order[i-1].status %></td>
      
        <td>
          <% if(order[i-1].status == "Ordered"){%>
          <a href="/admin/cancelOrder?id=<%= order[i-1]._id %>"
            class="btn btn-outline-primary ">Cancel</a>
            <% }else{} %>
            <% if(order[i-1].status == "Ordered"){%>
            <a href="/admin//confirmOrder?id=<%= order[i-1]._id %>"
              class="btn btn-outline-success ">confirm</a>
      <% }else{} %>
        </td>
        <td>
          <a href="/admin/orderDetail?id=<%= order[i-1]._id %>"
              class="btn btn-outline-danger mb-1">View</a>
      </td>
        
      
      
      </tr>
      <% }}else{ %>
      
        <tr>
          <td colspan="5">Orders Not Found</td>
      </tr>
      <% } %>
    
    
    
      
    
    </div>
    </div>
    
    <% } %>
    
    
    
      <!-- Footer -->
      <footer class="content-footer footer bg-footer-theme">
          <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
            <div class="mb-2 mb-md-0">
             
          
    
            </div>
            <div>
              
        </footer>
        <!-- / Footer -->
    
        <div class="content-backdrop fade"></div>
      </div>
      <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
    </div>
    
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    
    
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
        <script>
            $(document).ready( function () {
          $('#myTable').DataTable();
      } );
          </script>
          <script>
            $(document).ready(function () { $("#pdfTable").DataTable({ dom: "Bfrtip",
            buttons: ["copyHtml5", "excelHtml5", "csvHtml5", "pdfHtml5"], }); });
          </script>
    
    

<%- include ('../partials/admin-footer') %>