<%- include ('../partials/admin-header') %>


   <!-- Dashboard -->
   <li class="menu-item">
    <a href="/admin" class="menu-link">
      <i class="menu-icon tf-icons bx bx-home-circle"></i>
      <div data-i18n="Analytics">Dashboard</div>
    </a>
  </li>
  
  <li class="menu-item">
    <a href="/admin/userlist" class="menu-link">      
      <i class="menu-icon tf-icons bx bxs-user-detail"></i>
      <div data-i18n="Basic">User List</div>
    </a>
  </li>
  
  <li class="menu-item active">
    <a href="/admin/product" class="menu-link">
      
      <i class="menu-icon tf-icons bx bxs-florist"></i>
      <div data-i18n="Basic">Product Details</div>
    </a>
  </li>
  
<!--   
  <li class="menu-item">
    <a href="adminCategory" class="menu-link">
      <i class="menu-icon tf-icons bx bx-table"></i>
      <div data-i18n="Analytics">Category</div>
    </a>
  </li>
  
  
  <li class="menu-item ">
    <a href="offer" class="menu-link">
      <i class="menu-icon tf-icons bx bx-gift"></i>
      <div data-i18n="Analytics">Offers</div>
    </a>
  </li>
    
  <li class="menu-item ">
    <a href="loadbanner" class="menu-link">
      <i class="menu-icon tf-icons bx bx-collection"></i>
      <div data-i18n="Analytics">Banner</div>
    </a>
  </li> -->

  <!-- Misc -->
  <li class="menu-header small text-uppercase"><span class="menu-header-text"></span></li>
  <li class="menu-item">
    <a
      href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
      target="_blank"
      class="menu-link"
    >
      <i class="menu-icon tf-icons bx bx-"></i>
      <div data-i18n="Support"></div>
    </a>
  </li>
  <li class="menu-item">
    <a
      href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
      target="_blank"
      class="menu-link"
    >
      <i class="menu-icon tf-icons bx bx-"></i>
      <div data-i18n="Documentation"></div>
    </a>
  </li>
</ul>
</aside>
<!-- / Menu -->

<!-- Layout container -->
<div class="layout-page">
<!-- Navbar -->

<nav
  class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
  id="layout-navbar"
>
  <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
      <i class="bx bx-menu bx-sm"></i>
    </a>
  </div>

  <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
    <!-- Search -->
    <div class="navbar-nav align-items-center">
      <div class="nav-item d-flex align-items-center">
        <i class="bx bx-search fs-4 lh-0"></i>
        <input
          type="text"
          class="form-control border-0 shadow-none"
          placeholder="Search..."
          aria-label="Search..."
        />
      </div>
    </div>
    <!-- /Search -->

    <ul class="navbar-nav flex-row align-items-center ms-auto">
      <!-- Place this tag where you want the button to render. -->
      <!-- <li class="nav-item lh-1 me-3">
        <a
          class="github-button"
          href="https://github.com/themeselection/sneat-html-admin-template-free"
          data-icon="octicon-star"
          data-size="large"
          data-show-count="true"
          aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
          >Star</a
        >
      </li> -->

      <!-- User -->
      <li class="nav-item navbar-dropdown dropdown-user dropdown">
        <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
          <div class="avatar avatar-online">
            <img src="/admin/assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
          </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item" href="#">
              <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar avatar-online">
                    <img src="/admin/assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                  </div>
                </div>
                <div class="flex-grow-1">
                  <span class="fw-semibold d-block">Visakh</span>
                  <small class="text-muted">Admin</small>
                </div>
              </div>
            </a>
          </li>
          <li>
            <div class="dropdown-divider"></div>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <i class="bx bx-user me-2"></i>
              <span class="align-middle">My Profile</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <i class="bx bx-cog me-2"></i>
              <span class="align-middle">Settings</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <span class="d-flex align-items-center align-middle">
                <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                <span class="flex-grow-1 align-middle">Billing</span>
                <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
              </span>
            </a>
          </li>
          <li>
            <div class="dropdown-divider"></div>
          </li>
          <li>
            <a class="dropdown-item" href="/admin/logout">
              <i class="bx bx-power-off me-2"></i>
              <span class="align-middle">Log Out</span>
            </a>
          </li>
        </ul>
      </li>
      <!--/ User -->
    </ul>
  </div>
</nav>




<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Edit<span class="text-main-1">Product</span></p>

    <form class="col-md-4 justify-content-center" style="margin-left: 355px;" action="/admin/editProduct" method="post" enctype="multipart/form-data">

      <div class="d-flex flex-row align-items-center mb-2">

        <div class="form-outline flex-fill mb-0">
          <label class="form-label" for="form3Example1c">Name</label>
          <input type="text" id="form3Example1c" class="form-control" value="<%= product.name %>" name="sname" required />

        </div>
      </div>

      <div class="d-flex flex-row align-items-center mb-2">

        <div class="form-outline flex-fill mb-0">
          <label class="form-label" for="form3Example3c">Category</label>
          <input type="text" id="form3Example3c" class="form-control"  value="<%= product.category %>"  name="scategory" required />

        </div>
      </div>

      <div class="d-flex flex-row align-items-center mb-2">

        <div class="form-outline flex-fill mb-0">
          <label class="form-label" for="form3Example1c">Price</label>
          <input type="number" id="form3Example1c" class="form-control" value="<%= product.price %>" name="sprice" required />

        </div>
      </div>

      <div class="d-flex flex-row align-items-center mb-2">

        <div class="form-outline flex-fill mb-0">
          <label class="form-label" for="form3Example4c">Description</label>
          <input type="text" id="form3Example4c" class="form-control" value="<%= product.description%>"  name="sdescription" required />

        </div>
      </div>

      <div class="d-flex flex-row align-items-center mb-2">

        <div class="form-outline flex-fill mb-0">
          <label class="form-label" for="form3Example1c">Rating</label>
          <input type="number" id="form3Example1c" class="form-control" value="<%= product.rating %>" name="srating" max="5" required />

        </div>
      </div>

      <script>

      </script>
      <div class="d-flex flex-row align-items-center mb-2">

        <div class="form-outline flex-fill mb-0">
          <label class="form-label  select-label" for="form3Example1c"></label>

          <!-- something -->

        </div>
      </div>
      <div class="d-flex flex-row align-items-center mb-4">
        <div class="form-outline flex-fill mb-0">
          <label class="form-label" for="image">Image</label>
          <input type="file" id="form3Example4c" class="form-control" value="<%= product.image %>" name="simage" />
        </div>
      </div>
      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <button type="submit" value="Register" class="btn btn-primary btn-lg">Add Product</button>
        <!-- <a href="/admin/adminProduct" class="btn btn-primary ml-2 btn-lg">Go Back</a> -->
      </div>

      <!-- something  -->


    </form>






    <!-- / Footer -->

    <div class="content-backdrop fade"></div>
  </div>
  <!-- Content wrapper -->
  </div>
  <!-- / Layout page -->
  </div>

  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>
  </div>
  <!-- / Layout wrapper -->
















<%- include ('../partials/admin-footer') %>