









































<div class="col-md-6 d-flex">
                  
  <div class="cart-detail cart-total bg-light p-3 p-md-4 " >
      <h3 class="billing-heading mb-4">Address</h3>
      <%if(userAddress.length>0){
        for(let key of userAddress){%>
      <p class="d-flex">
        <span>
          <%= key.fullname %>
<br>
<%=key.houseNo%>,
<%= key.roadName %>
<%=key.city %>
<%= key.state%>,
India - 
<%= key.pincode%><br>
<%= key.phone1%> &ensp; <%= key.phone2%>      </span>

         
        </p>
        <%}}%>

            </div>
</div>



















<% if(order ==='Delivered'){ %>
			 
       <a href="/returnOrder?id=<%=orderId %>" class="btn btn-outline-danger mb-1" style="margin-left: 1127px; border-radius: 5px;">Return Order</a>
       <% }else{} %>






<button style="height: 25px; width: 100px;" class="btn btn-warning"><a style="    font-size: 12px;
text-decoration: none;
color: black;
position: absolute;
margin-top: -8px;
margin-left: -47px;" href="">Use this address</a></button> 






<% if(banner.length >0 ){ %>
				<% for(let i=0;i<banner.length;i++){ %>




          <% }}else{ %>
			<div><h1>No Banner Found</h1></div>
			<% } %>