
<% if(id) { %>
    <%- include('../partials/user-header') %>
    <% }else { %>
    <%- include('../partials/guest-header') %>
    <% } %>
	

<style>
	.mb-3, .my-3 {
    margin-bottom: 0rem !important;
}

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
  }

</style>
	
<% if(cartProduct.totalPrice > 0) {%>
      <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>Product</th>
						        <th>Price</th>
						        <th>Quantity</th>
						        <th>Total</th>
						       </tr>
						    </thead>
						    <tbody>
								<% if(cartProduct){ %>
									<% if(id) {%>
									<% for(let key of cartProduct.item){ %>   
									  
						      <tr class="text-center">
						        <td class="product-remove"><a href="/deleteCart?id=<%= key.productId._id%>"><span class="ion-ios-close"></span></a></td>
						        <td>
						        
									<img src="/admin/assets/uploads/<%= key.productId.image[0] %>"
										width="100vw" height="100vh">
									
									</td>
						        
						        <td class="product-name">
						        	<h3><%= key.productId.name  %></h3>
						        	<p><%= key.productId.description  %></p>
						        </td>
						        
						        <td class="price">₹<%= key.productId.price%></td>
						        
						        <td class="quantity">
									<div class="input-group d-flex mb-3">
										<span class="input-group-btn mr-2" >
										   <button type="button" class="quantity-left-minus btn decrement-btn" style="border-radius: 0px;" data-type="minus" data-product-id="<%= key.productId._id%>" data-field="">
										  <i class="ion-ios-remove"></i>
										   </button>
										   </span>
										   <input type="hidden"  value="<%= key.productId._id%>">
										<input type="number" id="qty" name="quantity" class="form-control input-number qty" value="<%=key.qty%>" min="1" style=" caret-color: transparent;"  required style="height:max-content" readonly>
										<span class="input-group-btn ml-2">
										   <button type="button" class="quantity-right-plus btn increment-btn" style="border-radius: 0px;" data-type="plus" data-product-id="<%= key.productId._id%>" data-field="">
											<i class="ion-ios-add"></i>
										</button>
										</span>
									 </div>
						        	
					          </td>
						        
						        <td class="total" id="price1">₹ <%=key.qty*key.productId.price%></td>
						       </tr>
							  <% }}else { %>
								<p>login</p>
								<% }}else{ %>
								  <tr>
									
									  <td colspan="5">Products Not Found</td>
								  </tr>
								  <% } %>
							  
							  <!-- END TR   -->
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
			
    		<div class="row justify-content-center">
    			<div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Cart Totals</h3>
    					<p class="d-flex"><div >
    						<span>Subtotal</span>
    						<span id="subtotal">₹<%=cartProduct.totalPrice %> </span></div>
    					</p>
    					<p class="d-flex">
    						<span>Delivery</span>
    						<span>₹0.00</span>
    					</p>
    					<p class="d-flex">
    						<span>Discount</span>
    						<span>₹0.00</span>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>Total</span><div id="price">
    						<span>₹<%=cartProduct.totalPrice %></span></div>
    					</p>
    				</div>
					<% if(cartProduct.totalPrice > 0 ){ %> 
    				<p class="text-center"><a href="/checkOut" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
					<% }else{ %>
						<p class="text-center"><a href="#" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p> 
						<% } %> 
    			</div>
    		</div>
			
			</div>
		</section>
		<% }else{ %>
			<br><br><div class="d-flex justify-content-center "><lottie-player class="" src="https://assets6.lottiefiles.com/temp/lf20_jzqS18.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player></div>
			<br><br><br><br>
			<% } %> 

        

  <!-- loader -->
   <!-- <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div> -->
   <script>

    const qty = document.querySelectorAll('.qty')		   
  const qtyHandler = async(e)=>{
  try {
  const productId = e.target.parentElement.children[0].value
  const data = {qty:e.target.value}
  console.log(data);
    const response = await fetch(`/editCart?id=${productId}`,{
   method:'post',
   headers:{'Content-Type':'application/json'},
    body:JSON.stringify(data)
    })
    const value = await response.json()
  
   document.querySelector('#totalCart').innerText = value.totalPrice
    // document.querySelector('#tottaloff').innerText = value.totalPrice
   e.target.parentElement.parentElement.nextElementSibling.innerText = value.price * e.target.value
  } catch (error) {
  console.log(error.message);
  }
  }
  qty.forEach(q =>{
  q.addEventListener('change',qtyHandler)
  })
  
  
   </script>

  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script> 
<!-- 
  <script>
		$(document).ready(function(){

		var quantitiy=0;
		   $('.quantity-right-plus').click(function(e){
		        
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		            
		            $('#quantity').val(quantity + 1);

		          
		            // Increment
		        
		    });

		     $('.quantity-left-minus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		      
		            // Increment
		            if(quantity>0){
		            $('#quantity').val(quantity - 1);
		            }
		    });
		    
		});
	</script>
 -->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>

$('.increment-btn').click(function(e) {
  e.preventDefault();
  var inputEl = $('.qty');
  var productId = $(this).data('product-id');
  var qty = parseInt(inputEl.val());
  console.log(qty);
  console.log(productId);
   //var maxQty = 
  ////console.log(maxQty); 
  //if (qty < maxQty) {
   qty++;
   inputEl.val(qty);
    updateCartItem(productId, qty);
  }
);

// decrement button
$('.decrement-btn').click(function(e) {
  e.preventDefault();
  var inputEl = $('.qty');
  var productId = $(this).data('product-id');
  var qty = parseInt(inputEl.val());
  if (qty > '1') {
    qty--;
    inputEl.val(qty);
    updateCartItem(productId, qty);
  }else{

	 inputEl.val('1');
    updateCartItem(productId, '1');

  }
  
});

// function to update cart item quantity using AJAX
      function updateCartItem(productId, qty) {
        $.ajax({
          url: '/updateCartItem',
          type: 'POST',
          data: { productId: productId, qty: qty },
          success: function(data) {
            // update subtotal and grand total
            console.log(data);
            const productPrice = data.productPrice;
            const newPrice = productPrice * qty;
            $('#price').text(newPrice);
			$('#price1').text(newPrice);
			$('#qty').text(data.qtyChange)
            $('#subtotal').text(data.subtotal);
           // $('#totalart').text(data.grandTotal); 
          },
          error: function(jqXHR, textStatus, errorThrown) {
            console.log(textStatus, errorThrown);
          }
        });
      }
</script>

    
 <%- include('../partials/user-footer') %>