<%- include('../partials/user-header') %>
<style>
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
  }
</style>
<section class="ftco-section">
  
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8 ftco-animate">
         
                      <form action="/usrEditAddress" method="post" class="billing-form">
                          <h3 class="mb-4 billing-heading">Update Address</h3>
                          <input type="hidden" value="<%=address._id %>" name="id">
                <div class="row align-items-end">
                    <div class="col-md-6">
                  <div class="form-group"> 
                      <label for="firstname">Full Name</label>
                    <input type="text" name="fullname" class="form-control" value="<%=address.fullname %>">
                  </div>
                </div>
                
             
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="country">State</label>
                          
                          <input type="text" name="state" class="form-control" value="<%=address.state %>">


                      </div>
                  </div>
                  
                 
                  <div class="col-md-6">
                      <div class="form-group">
                      <label for="streetaddress">Town / City</label>
                    <input type="text" name="city" class="form-control" value="<%=address.city%>" placeholder="">
                  </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                        <label for="streetaddress">House No / Building Name</label>
                    <input type="text" name="houseNo" class="form-control" value="<%=address.houseNo%>" placeholder="">
                  </div>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-md-6">
                      <div class="form-group">
                      <label for="towncity">Road name,Area,Colony</label>
                    <input type="text" name="roadName" class="form-control" value="<%=address.roadName %>" placeholder="">
                  </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="postcodezip">Pincode*</label>
                    <input type="number" name="pincode" class="form-control" value="<%=address.pincode %>" placeholder="">
                  </div>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-md-6">
                  <div class="form-group">
                      <label for="phone">Phone</label>
                    <input type="number" name="phone1" class="form-control" value="<%=address.phone1 %>" placeholder="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                      <label for="emailaddress">Alternative Phone</label>
                    <input type="number" name="phone2" class="form-control" value="<%=address.phone2 %>" placeholder="">
                  </div>
              </div>
              <div class="w-100"></div>
              <div class="form-group">
                <input type="submit" style="margin-left: 275px;" value="Update Address" class="btn btn-primary py-3 px-5">
              </div>
              </div>
            </form><!-- END -->



           
        </div> <!-- .col-md-8 -->
      </div>
    </div>
  </section>


<%- include('../partials/user-footer') %>